[Unit]
Description=Moneylook FastAPI
After=network.target

[Service]
User=<SERVICE_USER>
Group=<SERVICE_GROUP>
WorkingDirectory=<BACKEND_DIRECTORY>
EnvironmentFile=<BACKEND_DIRECTORY>/.env
ExecStart=<BACKEND_DIRECTORY>/.venv/bin/uvicorn main:app --host <BACKEND_HOST> --port <BACKEND_PORT> --proxy-headers --forwarded-allow-ips=<REVERSE_PROXY_IP>
Restart=always

[Install]
WantedBy=multi-user.target
